!.idea/runConfigurations/
*.iml
.DS_Store
.gradle/
.idea/compiler.xml
.idea/gradle.xml
.idea/inspectionProfiles/
.idea/kotlinc.xml
.idea/libraries/
.idea/markdown-navigator.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/
.idea/vcs.xml
.idea/workspace.xml
/build/
/buildSrc/build/
out/
