!.idea/runConfigurations/
!.vscode/tasks.json
*.hprof
*.iml
.DS_Store
.classpath
.envrc
.gradle/
.idea/
.idea/.name
.idea/codeStyles/
.idea/compiler.xml
.idea/dictionaries/
.idea/gradle.xml
.idea/inspectionProfiles/
.idea/jenkinsSettings.xml
.idea/kotlinc.xml
.idea/libraries/
.idea/markdown-exported-files.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/modules/
.idea/sonarIssues.xml
.idea/sonarlint/
.idea/vcs.xml
.idea/workspace.xml
.project
.rubygems/
.settings
.settings/
.vscode/
/build/
/buildSrc/build/
bin/
build/
gradlew.bat
local.properties
node_modules/
out/
